<!-- views/profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
  <a href="/users">Back</a>
  <h1>User Profile</h1>
  <div class="container">
    <div class="profile-info">
        <img src="/images/default.jpeg" alt="Profile Picture">
        <p>Nickname: <strong><%= user.nickname%></strong></p>
        <p>Username: <strong><%= user.username%></strong></p>
        <p>User Level: <strong><% if (user.vip_number === 2) { %>
          Admin
        <% } else if (user.vip_number === 1) { %>
          VIP
        <% } else { %>
          User
        <% } %></strong></p>
        <p>Money: <strong><%= user.money%></strong></p>
    </div>
    <div class="comments">
      <h2>Comments</h2>
      <form action="/post-comment" method="post">
        <input type="hidden" name="targetUserId" value="<%= user.id %>">
        <textarea name="comment" rows="4" cols="50" placeholder="Leave a comment" required></textarea>
        <br>
        <button type="submit">Post Comment</button>
      </form>
      <ul>
        <% comments.forEach(comment => { %>
          <li>
            <div class="comment">
              <p><strong><%= comment.nickname %></strong></p>
              <p><%= comment.comment %></p>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
</div>
</body>
</html>