<!-- views/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/users.css" />
  <title>User List</title>
</head>
<body>
  <a href="/">Back</a>
  <h1>User List</h1>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Nickname</th>
        <th>User level</th>
        <th>Money</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user, index) => { %>
        <tr>
          <td style="<%= getRankColor(index + 1) %>"><strong><%= index + 1 %></strong></td>
          <td><a href="/users/<%= user.id %>"><%= user.username %></a></td>
          <td><%= user.nickname %></td>
          <td><% if (user.vip_number === 2) { %>
            Admin
          <% } else if (user.vip_number === 1) { %>
            VIP
          <% } else { %>
            User
          <% } %></td>
          <td><%= user.money %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
<% function getRankColor(rank) {
  switch(rank) {
    case 1:
      return 'color: gold;';
    case 2:
      return 'color: silver;';
    case 3:
      return 'color: brown;';
    default:
      return ''; // 기본 색상
  }
}
%>
</html>
